p{
    font-size: large;
    font-family: 'Segoe UI';
}
h2{
    font-family: Roboto Light;
    font-weight: bold;
}
li{
    font-size: large;
    font-family: 'Segoe UI';
}
pre{
    font-size: large;
    font-family: 'Segoe UI'; 
}
img{
    width: 4cm;
    height: 4cm;
    position: absolute;
    top: 1.8cm;
    left: 93%;
    transform: translate(-50%, -50%);
}
body{
    background-size: 100%, 100%;
    background-image: url(fondo.avif);
}